<html xmlns:th="http://www.thymeleaf.org/">
<!-- suppress ALL -->
<head>
    <meta charset="UTF-8">
    <title>办公室无纸化系统</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/common/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>


<!-- 导航条    开始     ↓-->
<nav class="navbar navbar-default">


    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">首页</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- 第一个菜单 -->
                <li><a href="#">公文流转</a></li>

                <!-- 第三个菜单 -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">人力资源<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/list">员工列表</a></li>
                    </ul>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">系统设置<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/manager/accountList">账号列表</a></li>
                        <li><a href="/manager/roleList">角色管理</a></li>
                        <li><a href="/manager/permissionList">权限管理</a></li>
                    </ul>
                </li>

            </ul>


            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入员工姓名或工号">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <!-- 未登录用户 -->
                <li th:if="${session.account}==null"><a href="/register">注册</a></li>
                <li th:if="${session.account}==null"><a href="/account/login">登录</a></li>


                <!-- 已登录用户 -->
                <li th:if="${session.account}!=null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        欢迎：[[${session.account.loginName}]]
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/account/profile">个人信息</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/account/logOut">退出登录</a></li>
                    </ul>
                </li>


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- 导航栏    结束   ↑ -->

<h1 class="text-center">修改/添加权限</h1>
<!-- 巨幕开始  ↓ -->
<div class="jumbotron text-center">
    <table class="table table-hover ">
        <tr>
            <th class="text-center" th:hidden="${permission}==null?true:false">编号</th>
            <th class="text-center">uri</th>
            <th class="text-center">名称</th>
            <th class="text-center">新增权限</th>
            <th class="text-center">索引权限</th>
            <th class="text-center">修改权限</th>
            <th class="text-center">删除权限</th>
            <th class="text-center">操作</th>
        </tr>
        <form id="permissionForm">
            <tr>
                <td class="text-center" th:hidden="${permission}==null?true:false" th:text="${permission}==null?'':${permission.id}"> </td>
                <td class="text-center">
                    <input name="name" type="text" th:value="${permission}==null?'':${permission.name}">
                </td>
                <td class="text-center">
                    <input name="uri" type="text" th:value="${permission}==null?'':${permission.uri}">
                </td>
                <td class="text-center">
                    <input id="create" type="checkbox" th:checked="${permission}==null?false:${permission.create}">
                </td>
                <td class="text-center">
                    <input id="retrieve" type="checkbox" th:checked="${permission}==null?false:${permission.retrieve}">
                </td>
                <td class="text-center">
                    <input id="update" type="checkbox" th:checked="${permission}==null?false:${permission.update}">
                </td>
                <td class="text-center">
                    <input id="delete" type="checkbox" th:checked="${permission}==null?false:${permission.delete}">
                </td>
                <td class="text-center">
                    <a class="btn btn-danger" th:href="'javascript:submitPermissionInfo('+(${permission}==null?'':${permission.id})+');'">提交</a>
                </td>
            </tr>
        </form>
    </table>
</div>

<!-- 模态窗口 开始 ↓ -->
<div id="com-alert" class="modal" style="z-index:9999;display: none;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                        class="sr-only">Close</span></button>
                <h5 class="modal-title"><i class="fa fa-exclamation-circle"></i> [Title]</h5>
            </div>
            <div class="modal-body small">
                <p>[Message]</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok" data-dismiss="modal">[BtnOk]</button>
                <button type="button" class="btn btn-default cancel" data-dismiss="modal">[BtnCancel]</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态窗口结束 ↑ -->


<script type="text/javascript">

    function submitPermissionInfo(id) {
        var formObject = {"id":id};
        var data = $("#permissionForm").serializeArray();
        $.each(data, function (i, item) {
            formObject[item.name] = item.value;
        });
        formObject["create"] = $("#create").is(":checked");
        formObject["retrieve"] = $("#retrieve").is(":checked");
        formObject["update"] = $("#update").is(":checked");
        formObject["delete"] = $("#delete").is(":checked");

        if(id==null){
            var url = "/api/v1/manager/permission/add";
        }else {
            var url = "/api/v1/manager/permission/update";
        }

        $.ajax({
            type: "post",
            url: url,
            contentType: "application/json",
            data: JSON.stringify(formObject),
            dataType: "json",
            success: function (data) {
                console.log("success:"+JSON.stringify(data));
            },
            error: function (data) {
                console.log("error:"+JSON.stringify(data));
            }
        })

    }


    $(function () {
        window.Modal = function () {
            var reg = new RegExp("\\[([^\\[\\]]*?)\\]", 'igm');
            var alr = $("#com-alert");
            var ahtml = alr.html();

            var _tip = function (options, sec) {
                alr.html(ahtml);    // 复原
                alr.find('.ok').hide();
                alr.find('.cancel').hide();
                alr.find('.modal-content').width(500);
                _dialog(options, sec);

                return {
                    on: function (callback) {
                    }
                };
            };

            var _alert = function (options) {
                alr.html(ahtml);  // 复原
                alr.find('.ok').removeClass('btn-success').addClass('btn-primary');
                alr.find('.cancel').hide();
                _dialog(options);

                return {
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            alr.find('.ok').click(function () {
                                callback(true)
                            });
                        }
                    }
                };
            };

            var _confirm = function (options) {
                alr.html(ahtml); // 复原
                alr.find('.ok').removeClass('btn-primary').addClass('btn-success');
                alr.find('.cancel').show();
                _dialog(options);

                return {
                    on: function (callback) {
                        if (callback && callback instanceof Function) {
                            alr.find('.ok').click(function () {
                                callback(true)
                            });
                            alr.find('.cancel').click(function () {
                                return;
                            });
                        }
                    }
                };
            };

            var _dialog = function (options) {
                var ops = {
                    msg: "提示内容",
                    title: "操作提示",
                    btnok: "确定",
                    btncl: "取消"
                };

                $.extend(ops, options);

                var html = alr.html().replace(reg, function (node, key) {
                    return {
                        Title: ops.title,
                        Message: ops.msg,
                        BtnOk: ops.btnok,
                        BtnCancel: ops.btncl
                    }[key];
                });

                alr.html(html);
                alr.modal({
                    width: 250,
                    backdrop: 'static'
                });
            }

            return {
                tip: _tip,
                alert: _alert,
                confirm: _confirm
            }

        }();
    });

    function showTip(msg, sec, callback) {
        if (!sec) {
            sec = 1000;
        }
        Modal.tip({
            title: '提示',
            msg: msg
        }, sec);
        setTimeout(callback, sec);
    }

    /**
     * 显示消息
     * @param msg
     */
    function showMsg(msg, callback) {
        Modal.alert({
            title: '提示',
            msg: msg,
            btnok: '确定'
        }).on(function (e) {
            if (callback) {
                callback();
            }
        });
    }

    /**
     * 模态对话框
     * @param msg
     * @returns
     */
    function showConfirm(msg, callback) {
        //var res = false;
        Modal.confirm(
            {
                title: '提示',
                msg: msg,
            }).on(function (e) {
            callback();
            //res=true;
        });
        //return res;
    }

</script>

<!--   巨幕  结束   ↑-->

</body>

</html>